* text=auto

*.txt text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.mdx text eol=lf
*.svg text eol=lf
*.prisma text eol=lf
*.sh text eol=lf

.commitlintrc text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.prettierignore text eol=lf
.prettierrc text eol=lf

LICENSE text eol=lf
yarn.lock text eol=lf

*.gif -text
*.ico -text
*.jpg -text
*.jpeg -text
*.png -text
